* {
    font-family: "Comic Mono";
    src: url(file:///defaulttheme/comicmono.ttf);
}

button {
    font-family: "Comic Mono";
    font-size: 32px;
    border-radius: 10px;
    background: rgb(7,144,155);
background: linear-gradient(90deg, rgba(7,144,155,1) 0%, rgba(7,27,155,1) 50%, rgba(7,144,155,1) 100%); 
    }
button:hover{
    font-size: 32px;
    border-radius: 10px;
    background: rgb(7,144,155);

}
body {
    background: rgb(7,144,155);
    background: linear-gradient(90deg, rgba(7,144,155,1) 0%, rgba(7,27,155,1) 50%, rgba(7,144,155,1) 100%); 
    


}