* {
    font-family: "Comic Mono";
    src: url(https://cdn.jsdelivr.net/npm/comic-mono@0.0.1/ComicMono.ttf);
}

button {
    font-family: "Comic Mono";
    font-size: 32px;
    border-radius: 10px;
    background-color: slategray;
    color: white;
}

button:hover{
    font-size: 32px;
    border-radius: 10px;
    background-color: darkslategray;
    color: white;
}

body {
    background-color: gray;
}